* {
    margin: 0;
    padding: 0%;
    font-family: 'Didact Gothic', sans-serif;
}
body{
    background: url(image/school.jpg) no-repeat;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

#logo{
    background-color: transparent;
}
#navbar{
    background-color: white;
    color: black;
    text-decoration: black;

}
#logo{
    margin-left: 50px;
}
.nav-item{
    padding-inline: 15px;
}
#navbarSupportedContent{
    margin-left: 350px;

}
.BSITh1{
    color: white;
  
    margin-left: 500px;
    margin-top: 50px;
    background-color: black;
    padding: 5px;
    width: 304px;
    border-radius: 10px;
    opacity: 0.8;
}
#login{
    color: white;
    background-color: rgb(31, 31, 31);
    /* text-align: center; */
    /* border: 1px solid red; */
    /* height: 480px; */
    width: 380px;
    position: absolute;
    top: 32%;
    left: 35%;
    border-radius: 10px;
    
}
.submitin{
    padding-inline: 100px;
    background-color: #003af7;
    color: white;
    
}

.forgot, .signin{
    color: rgb(255, 238, 0);
    text-decoration: none;
}
.frgt{
    background: black;
}
.forgotp{
    position: absolute;
    top: 40%;
    left: 32%;
    font-size: 50px;
    color: rgb(163, 1, 28);
    text-decoration: wavy;
    text-shadow: 10px;
    background-color: white;
}
.login{
    display: none;
}

.loginform{
    padding: 20px;
}

.input{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* padding: 5px; */
    margin-block: 5px;
}
.input input{
    width: 70%;
}
.enrollbtn{
    display: block;
}